bs4==0.0.1
astunparse==1.6.3  
async-timeout==3.0.1
beautifulsoup4==4.10.0
charset-normalizer==2.0.4
clang==5.0
click==8.0.1
configparser==5.0.2
cssselect==1.1.0
Flask==2.0.1
Flask-SQLAlchemy==2.5.1
httplib2==0.19.1
huggingface-hub==0.1.0
ipykernel==6.3.1
ipywidgets==7.6.5
js==1.0
json5==0.9.6
jupyter-client==7.0.2
jupyter-core==4.7.1
jupyter-server==1.10.2
jupyterlab==3.1.10
jupyterlab-pygments==0.1.2
jupyterlab-server==2.8.0
jupyterlab-widgets==1.0.2
keras==2.6.0
Keras-Preprocessing==1.1.2
newspaper3k==0.2.8
notebook==6.4.3
numpy==1.19.5
psycopg2==2.9.1
python-dateutil==2.8.2
requests==2.26.0
selenium==3.141.0
SQLAlchemy==1.4.25
tensorflow==2.6.0
torch==1.10.0
transformers==4.12.3
webdriver-manager==3.5.2
